*::after*::before {

    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
 background-color: #1e202b;
}

.navbar{

    background-color: #1e202b;
}

.nav-link{
margin: 5px;
  padding: 5px 25px;
    border: 2px solid transparent;
    border-radius: 30px;
    color: white;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-weight: 400;
}

.navbar-nav .nav-link.active{

    
       border: 2px solid blue;
    border-radius: 30px;
    color: blue;
}

.nav-link:hover{

       border: 2px solid blue;
    border-radius: 30px;
    color: blue;
}
span{
        font-size: 0.7142857143em;
    display: block;
    color: #bfc1c8;
}

.banner{


    background-image:url(../image/banner.png);
       background-size: cover;
    padding: 70px 0;
   max-height: 600px;
   height: auto;
}


#btn{
   border: none;
    background: #009ad8;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;

}

button{
position: absolute;
top: 5px;
right: 15px;

       border: none;
    background: #009ad8;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;

}
.item{
    background: linear-gradient(rgba(255, 255, 255, 0.493) ,rgba(0, 0, 255, 0.616));
}
.subscripe{

        background: #262936;
}

.icon img{
    width: 40px;
}
 .brands i{

color: #009ad8;

} 
.brd{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
            background: #1e202b;
}
.brd i{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.brd:hover{

 background: #009ad8;
}
.brd:hover i{
color: white;
}






/* HTML: <div class="loader"></div> */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background: linear-gradient(white,blue);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}